/* This file will hold styles that are loaded using the same media query as the narrow grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the normal and widescreen layouts. You may override these styles in the normal 
 *  and widescreen CSS files as appropriate. */

.field-name-field-project-screenshot {
  float: right;
  margin-left: 10px;
  width: 50%;
}

.field-name-field-live-project-link, .field-name-field-github-link {
  float: left;
  width: 100%;
}

.view-hacks .views-row {
  margin-bottom: 20px;
  border-bottom: 1px solid #DADADA;
  padding-bottom: 10px;
}

.view-hacks .views-row-last {
  border-bottom: 0px;
}
