/* This file will hold styles for all layouts using the alpha grid (i.e. not the mobile layout). */
.header-icon {
        display: inline;
}

.branding-data {
    width: 400px;
    float: left;
}

.mobile-menu-wrapper {
  display: none;
}
