body {
    background: url('../background.png') no-repeat right bottom;
    background-color: rgb(242,242,242);
    font-family: "Lucida Grande", 'sans-serif';
    color: #4B4A4A;
}

.page {
    min-height: 800px;
}

h1, h2 {
    font-family: "Helvetica Neue", 'sans-serif';
    letter-spacing: 0px;
}

a:link, a:visited {
  color: #C27E34;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a.button, .form-submit {
  background: #fff url(../images/buttons.png) 0 0 repeat-x;
  border: 1px solid #e4e4e4;
  border-bottom: 1px solid #b4b4b4;
  border-left-color: #d2d2d2;
  border-right-color: #d2d2d2;
  color: #3a3a3a;
  cursor: pointer;
  font-size: 0.929em;
  font-weight: normal;
  text-align: center;
  margin-bottom: 1em;
  margin-right: 0.6em; /* LTR */
  padding: 4px 17px;
  -khtml-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

a.button:visited, .form-submit:visited,
a.button:hover, .form-submit:hover,
a.button:focus, .form-submit:focus,
a.button:active, .form-submit:active {
  text-decoration: none;
  color: #5a5a5a;
  background: #dedede;
}

/* Style on Feed Filter. This is here for wight purposes */
.block-menu-feed-filter a {
    color: rgb(104, 100, 100);
}

span.attribution {
  font-size: .8em;
}

.zone-branding-wrapper {
  height: 85px;
  background: #E2E2E2;
  border-bottom: 1px solid #CCC;
}

.site-name a, .site-name a:visited {
    color: #6B6762;
    text-shadow: 0 1px #F7F7F7;
    font-size: 1.5em;
}

.site-name a:hover {
    color: #DD8C32;
    text-decoration: none;
}
    
.sitename a:hover {
    color: #6B6762;
}

nav.navigation {
    margin: 0 auto;
    padding-top: 20px;
}

ul#main-menu {
  display: block;
  text-align: center;
}

.main-menu li a {
    font-size: 1.5em;
    font-family: "Helvetica Neue", "sans-serif";
    text-decoration: none;
    text-shadow: 0 1px #FDFDFD;
    color: rgb(80, 80, 80);
    margin-right: 1em;
}

.main-menu li a:hover {
    border-bottom: 3px solid #DD8C32;
}

ul#main-menu li.active a{
    color: rgba(194, 126, 52, 0.8);
}

.region-branding .block {
    float: right;
    padding-top: 15px;
}


.header-icon {
    width: 50px;
    height: 50px;
    float: left;
    padding-right: 10px;
    display: none;
}

.branding-data { 
    width: 315px; 
    float: none; 
    margin: 0 auto; 
}

/* Hack Mobile Theme */

.field-name-field-project-screenshot {
  float: none;
  width: 100%;
  margin-left: 0px;
  margin-bottom: 10px;
}

.field-name-field-project-screenshot img { 
  border: 5px solid white; 
  box-shadow: 0 1px 10px #888; 
  margin: 0 auto;
  display: block;
}

.field-hack-project-info {
  font-style: italic;
  font-size: .87em;
}

/* Mobile Resets */

.mobile-menu-wrapper {
  margin-bottom: 50px;
}

.mobile-menu-wrapper li {
  list-style-type: none !important;
  list-style-image: none !important;
}

.navigation {
  display: none;
}

.mobile-button {
  width: 40px;
  height: 25px;
  background: rgb(209, 209, 209);
  border: 1px solid rgb(160, 160, 160);
  border-radius: 3px;
  margin-top: 5px;
  padding-top: 3px;
}

.mobile-button:hover {
  background: rgb(185, 185, 185);
}


