body {
    background: url('../background.png') no-repeat right bottom;
    background-color: rgb(242,242,242);
}

.page {
    min-height: 800px;
}

h1, h2 {
    font-family: "Helvetica Neue";
    letter-spacing: 0px;
}

.site-name a, .site-name a:visited {
    color: #6B6762;
    text-shadow: 0 1px #FDFDFD;
    font-size: 1.5em;
}

.site-name a:hover {
    color: #DD8C32;
}
    
.sitename a:hover {
    color: #6B6762;
}

nav.navigation {
    width: 300px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

ul#main-menu li a {
    font-size: 1.5em;
    font-family: "Helvetica Neue", sans serif;
    text-decoration: none;
    text-shadow: 0 1px #FDFDFD;
    color: black;
    margin-right: 1em;
}

ul#main-menu li a:hover {
    border-bottom: 3px solid #DD8C32;
}

ul#main-menu li.active a{
    color: #6B6762;
}

.branding-data {
    width: 400px;
    float: left;
}

.region-branding .block {
    float: right;
    padding-top: 15px;
}


.header-icon {
    width: 50px;
    height: 50px;
    float: left;
    padding-right: 10px;
}


