.view-content-feed  .views-row {
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.node-twitter-message, .node-delicious-link {
  padding: 10px;
}

.node-twitter-message .group-left, .node-delicious-link .group-left {
  width: 10% !important;
}

.node-twitter-message .group-right, .node-delicious-link .group-right {
  width: 90% !important;
}

.node-twitter-message img {
  float: right;
  margin-right: 10px;
}

.field-name-field-twitter-body p {
  margin-bottom: 0px;
}

.twitter-highlighted-text {
  color: #C27E34;
}

.field-name-post-date {
  color: rgb(187, 185, 185);
  font-size: .9em;
}

.node-delicious-link img {
  float: right;
  margin-right: 20px;
}

.node-delicious-link .field-name-field-tags {
  margin-top: 20px;
  font-size: .9em;
}

.node-blog-post {
  background: #E2E2E2;
  padding: 10px;
  border-radius: 3px;
}

.field-name-field-tags {
  color: rgb(187, 185, 185);
}

.region-header-first {
  background: #E2E2E2;
  padding: 10px;
  box-shadow: inset 0 0px 10px rgb(173, 173, 173);
  border-radius: 3px;
  margin-bottom: 10px;
}

.region-header-first h2.block-title {
  float: left;
  margin-right: 10px;
}

.region-header-first ul {
  padding-top: 5px;
}

.region-header-first ul.menu li {
  display: inline;
}

